<app-header/>
<main>
  <ul id="users">
<!--    structural directive in angular, need to import ngFor  -->
<!--    <li *ngFor="let userItem of usersList"> -->
<!--      <app-user (select)="selectUser($event)" [user]="userItem"></app-user>-->
<!--    </li>-->

<!--    new realization of angular 17-->
    @for (userItem of usersList; track userItem.id){
      <li>
        <app-user (select)="selectUser($event)" [user]="userItem" [selectedUser]="selectedUserId === userItem.id"></app-user>
      </li>
    }
  </ul>
<!--  <app-tasks [name]="userName"></app-tasks>-->

<!--  old solution, need to import ngIf-->
<!--  <app-tasks  *ngIf="selectedUser; else fallback" [name]="selectedUser.name"></app-tasks>-->
<!--  <ng-template #fallback>-->
<!--    <p id="fallback">User don't selected yet</p>-->
<!--  </ng-template>-->

  @if(selectedUser){
    <app-tasks [name]="selectedUser.name" [id]="selectedUser.id"></app-tasks>
  } @else {
    <p id="fallback">User don't selected yet</p>
  }
</main>
